.login-page{
    background: url('/media/Signup.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: 500px;
    background-color: white;
    padding: 25px;
    height: 500px;
    border-radius: 10px;
}